Repository hexh250786313/stage9th: changes, and which lint-staged commands are due for each by the changed paths.
All: npx biome format --write, npx biome lint --write, npx prettier --write --no-error-on-unmatched-pattern

Deploying to gh-pages from @ hexh250786313/stage9th@c52e7666044c7cba58dfadaaccc13517eb0e88c6 🚀
  index.html
Due: npx prettier --write --no-error-on-unmatched-pattern

chore: shrink
  package-lock.json
Due: npx biome format --write, npx biome lint --write

feat: page feature
  package.json
  src/App.css
  src/App.tsx
Due: npx biome format --write, npx biome lint --write

Deploying to gh-pages from @ hexh250786313/stage9th@3046449428e9f39878718f0c5731d67da7bdac5f 🚀
  assets/index-D7SXrDvH.css
  assets/index-DG7A5K3b.css
  assets/index-DY-Z7Krm.js
  assets/index-Ds-L43wI.js
  index.html
Due: npx biome format --write, npx biome lint --write, npx prettier --write --no-error-on-unmatched-pattern

style: use prettier for formatting because of biome not working for styled-component
  .lintstagedrc.json
  .prettierrc
  .vim/coc-settings.json
  package-lock.json
  package.json
  src/App.tsx
  src/main.tsx
  vite.config.ts
Due: npx biome format --write, npx biome lint --write

Deploying to gh-pages from @ hexh250786313/stage9th@5fbf9fd9ce9dd6ef474cb72a614218cf05e68ce3 🚀
  assets/index-D7SXrDvH.css
  assets/index-DvKESmpy.js
  assets/index-PiIUwhot.css
  index.html
Due: npx biome format --write, npx biome lint --write, npx prettier --write --no-error-on-unmatched-pattern

WIP
  .prettierrc
Due: none

feat: better directory structure & remove css & use font
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  src/styles/components/Container.ts
  src/styles/components/ErrorMessageContainer.ts
  src/styles/components/FilterContainer.ts
  src/styles/components/FilterItem.ts
  src/styles/components/FilterSection.ts
  src/styles/components/InfoLink.ts
  src/styles/components/InfoSection.ts
  src/styles/components/LoadingMessage.ts
  src/styles/components/MovieLink.ts
  src/styles/components/MovieTitle.ts
  src/styles/components/ScrollToTopButton.ts
  src/styles/components/SearchInput.ts
  src/styles/components/Select.ts
  src/styles/components/SortableHeader.ts
  src/styles/components/TabButton.ts
  src/styles/components/TabContainer.ts
  src/styles/components/Table.ts
  src/styles/components/TableRow.ts
  src/styles/components/VisualizationContainer.ts
  src/styles/globals/App.ts
  src/styles/globals/Global.ts
  src/styles/helpers/animation.ts
  src/styles/helpers/styled.ts
Due: npx biome format --write, npx biome lint --write

Deploying to gh-pages from @ hexh250786313/stage9th@14bac01accd3dc3b782bad5fe84b4b24dd530c16 🚀
  assets/index-D2PdLsnF.js
  assets/index-DvKESmpy.js
  assets/index-PiIUwhot.css
  index.html
Due: npx biome format --write, npx biome lint --write, npx prettier --write --no-error-on-unmatched-pattern

fix: 更新 s1 源站链接
  README.md
  src/App.tsx
Due: npx biome format --write, npx biome lint --write, npx prettier --write --no-error-on-unmatched-pattern

Deploying to gh-pages from @ hexh250786313/stage9th@4fde21293d51c3faa313aa142e442a0df81801a9 🚀
  assets/index-KyvfSpxh.js
  index.html
Due: npx biome format --write, npx biome lint --write, npx prettier --write --no-error-on-unmatched-pattern

chore: update deps
  package-lock.json
  package.json
Due: npx biome format --write, npx biome lint --write

Deploying to gh-pages from @ hexh250786313/stage9th@28838c4462f0c87ede0325771e3ec3be71fa9e68 🚀
  assets/index-Ckp9-a01.js
  assets/index-KyvfSpxh.js
  index.html
Due: npx biome format --write, npx biome lint --write, npx prettier --write --no-error-on-unmatched-pattern

Path conditions:
  npx biome format --write: any of: *.{js,ts,jsx,tsx,json,jsonc}
  npx biome lint --write: any of: *.{js,ts,jsx,tsx,json,jsonc}
  npx prettier --write --no-error-on-unmatched-pattern: any of: *.{html,md}
